# Node.js dependencies
node_modules/

# Dependency lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Output files
output.csv

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# VSCode settings
.vscode/

# Env files
.env
.env.*

# Coverage
coverage/

# Misc
*.log
*.tmp
